* {
  margin: 0px;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
}

#navbar {
  display:flex;
  align-items: center;
  padding: 10px 30px;
}

#navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

#navbar ul li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.apps-icon {
  padding: 10px;
}

.apps-icon:hover {
  background-color: #f2f2f2;
  border-radius: 50%;
}

.push-nav {
  margin-left: auto;
  margin-right: 10px;
}

#signin {
  background-color: #0275d8;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}

.logo {
  display: block;
  margin: auto;
  width: 272px;
  height: auto;
  margin-top: 200px;
}

main {
  width: 100%;
  display: block;
  margin: auto;
}

#search {
  display: flex;
  align-items: center;
  width: 50%;
  border: 1px solid #a2a2a2;
  border-radius: 40px;
  margin: 10px auto;
  height: 40px;
  padding: 10px;
}

#search:hover {
  box-shadow: 0 0 10px 10px #d2d2d2;
}

.icons {
  color: #a2a2a2;
}

.search-bar {
  border: none;
  width: 86%;
  padding: 5px;
  height: 100%;
  outline: none;
  font-size: 20px;
}

button {
  border: none;
}

#buttons {
  display: flex;
  justify-content: center;
}

.buttons {
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

#behind-scenes {
  display: flex;
  justify-content: center;
  align-items: center;
}

#behind-scenes a {
  text-decoration: none;
  margin: 10px;
}

footer {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #f2f2f2;
  position: fixed;
  bottom:0px;
  display: grid;
  align-items: center;
}

footer ul li {
  display: inline;
  margin: 10px;
}

.box{ 
  grid-row: 1;
}

.box.a { width: 1fr;}
.box.b { width: 1fr;}
.box.c { width: 1fr;}